[submodule "Token_PATS"]
	path = Token_PATS
	url = https://github.com/vilmapato/Token_PATS.git
[submodule "vault_tokens"]
	path = vault_tokens
	url = https://github.com/vilmapato/vault_tokens.git
[submodule "Escrow_token"]
	path = Escrow_token
	url = https://github.com/vilmapato/Escrow_token.git
